<div class="container">
    <h1>Contact</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla totam itaque quae sunt, veritatis quas
        atque perferendis eveniet beatae necessitatibus rerum officiis, cupiditate accusantium at quo velit official
        porro...
    </p>

    <div class="col-12 col-md-8 bg-light m-auto rounded">


        <div class="m-3 d-flex pt-4" >
            <label for="exampleFormControlInput1" class="col-2 form-label"><strong>Your E-mail</strong></label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your E-mail">
        </div>
        <div class="m-3 d-flex">
            <label for="exampleFormControlTextarea1" class="col-2 form-label"><strong>Your message</strong></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                placeholder="Your message"></textarea>
        </div>

        <div class="d-flex justify-content-end">

            <button type="button" class="btn btn-primary m-3">Submit</button>
        </div>




    </div>
</div>
