<!-- your html code here -->
<div class="container">
    <div class="row" style="margin-left: 20px;">
        <h2 class="col-12" style="font-weight: 650;">Portfolio</h2>
        <p class="col-12" style="font-size: 2vh;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
            debitis cumque quam obcaecati a. Voluptatum,
            mollitia modi incidunt numquam, beatae, rem facilis id nemo consequuntur quam libero quasi.</p>
            <div class="row">
                <div class="col-sm-6 col-md-4" style="margin-bottom: 30px;">
                    <img src="https://picsum.photos/200/300" style="width: 100%; height: auto;max-width: 400px;max-height: 250px;">
                    <a href="..." target="_blank" style="font-size: 23px; text-decoration: none;font-weight: 500;">Project
                        Name</a>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius aspernatur ex ab quisquam, voluptas
                        eum maiores<br> at possimus necessitatibus? Velit!</p>
    
                </div>
                <div class="col-sm-6 col-md-4" style="margin-bottom: 30px;">
                    <img src="https://picsum.photos/200/300" style="width: 100%; height: auto; max-width: 400px;max-height: 250px;">
                    <a href="..." target="_blank" style="font-size: 23px; text-decoration: none;font-weight: 500;">Project
                        Name</a>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius aspernatur ex ab quisquam, voluptas
                        eum maiores<br> at possimus necessitatibus? Velit!</p>
    
                </div>
                <div class="col-sm-6 col-md-4" style="margin-bottom: 30px;">
                    <img src="https://picsum.photos/200/300" style="width: 100%; height: auto;max-width: 400px;max-height: 250px;">
                    <a href="..." target="_blank" style="font-size: 23px; text-decoration: none;font-weight: 500;">Project
                        Name</a>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius aspernatur ex ab quisquam, voluptas
                        eum maiores<br> at possimus necessitatibus? Velit!</p>
    
                </div>
            </div>
    </div>
</div>