<style>
    #jumbotron {
        background-image: url(/website/assets/img/bg.jpg);
        height: 700px;
        background-position: bottom; 
        background-size: cover;
    }

    .display-6 {
        font-size: 9rem;
    }
    @media only screen and (max-width: 600px) {
        .display-6 {
            font-size: 5rem;
        }
    }
</style>



<div class="container-fluid py-5 mb-4" id="jumbotron">
    <div class="pt-5">
        <h1 class="display-6 fw-bold text-center bg-light">One Page Wonder</h1>
    </div>
    <h2 class="display-2 fw-bold text-center bg-light">Will Knock Your Socks Off </h2>
</div>